:host {
  max-width: 320px;
}
.movie-container {
  border: 2px darkgray solid;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
  height: 400px;
  justify-content: end;
}

.movie-container h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.movie-container:hover {
  overflow-y: auto;
}
.movie-container:hover h4 {
  white-space: inherit;
}
