<mat-sidenav-container class="h-100">
  <mat-sidenav #sideNav [opened]="true" mode="side" position="start">
    <mat-list>
      <mat-list-item> list of genres </mat-list-item>
      <mat-list-item
        *ngFor="let genre of genreList"
        [ngClass]="{ 'isActive': genre.id == activeGenre }"
      >
        <a class="txt" [routerLink]="['genres', genre.id]">{{ genre.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="onActivateRoute()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
